.newsCard {
  width: 290px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  background-color: rgba(246, 246, 246, 0.817);
  padding: 10px;
  position: relative;
}
.newsCard img {
  width: 100%;
  height: 40%;
  box-shadow: 0 0 10px rgb(2, 174, 162);
  border-radius: 10px;
}
.newsSource {
  position: absolute;
  right: 10px;
  top: 42%;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  background: #030470b6;
}

.newsCard_body {
  padding: 10px;
  height: 60%;
}
.newsDate {
  padding: 5px 0;
  color: rgb(99, 99, 99);
  margin: 5px 0;
}

.newsTitle {
  height: 25%;
  padding: 10px 0;
  margin-bottom: 5px;
}
.newsDescription {
  height: 28%;
  padding: 10px 0;
  margin-bottom: 5px;
}

.newsArticle_Link {
  border: 1px solid darkorchid;
  padding: 10px 20px;
  font-weight: 600;
  color: darkmagenta;
  display: inline-block;
  margin-top: 20px;
}
