.homePage {
  background: #e1e1fcf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.searchBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 10px;
  width: 60%;
  height: 2.5rem;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px #a7a6a6;
}

#search_icon {
  height: 60%;
  color: rgb(3, 3, 112);
}

.searchBox input {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  text-indent: 5px;
  font-size: 1.25rem;
}
