* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100vw;
  padding: 20px;
  background-color: #11115d;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.navbar p {
  line-height: 20px;
}
.navbar .heading {
  font-size: 50px;
  line-height: 65px;
  padding: 10px 20px;
  color: #9e9e9e;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  background-color: #affdfdd0;
  margin: 30px 0 0;
  border-radius: 5px;
  width: 100%;
  line-height: 65px;
  padding: 10px 20px;
  color: #02164a;
}

.content {
  padding: 10px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  background-color: #fd9cf96c;
  border-radius: 5px;
}

.content .admin-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
.admin-table .admin-subtitle {
  font-size: 1.4rem;
}
.admin-table .addBtn {
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(130deg, #3679f7, rgb(85, 2, 137));
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.admin-table .addBtn:hover {
  opacity: 0.7;
  text-shadow: -2px -2px 3px #cdaa00;
}
.admin-table .addBtn:active {
  box-shadow: 0 0 10px #d52fff;
}

.content ul {
  width: 100%;
}
.content ul li {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ed9afc83;
  margin: 5px 0;
  border-radius: 5px;
}
.content ul li .deleteBtnIcon {
  color: #e80505;
  font-size: 1.5rem;
  cursor: pointer;
}

.content .deleteAllBtn-box {
  padding: 10px 0;
  text-align: end;
}
.deleteAllBtn-box .deleteAllBtn {
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(160deg, #de2606, #daa520);
  cursor: pointer;
  transition: all 0.3s;
}
.deleteAllBtn-box .deleteAllBtn:hover {
  opacity: 0.8;
}
.deleteAllBtn-box .deleteAllBtn:active {
  box-shadow: 0 0 10px #9acd32;
}
