* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-theme {
  --main-heading: #71c9ff;
  --para-clr: #fff;
  --btn-bg-color: #5f99be;
  --btn-text-clr: #fff;
  --bg-clr: rgb(6, 17, 45);
  --boxShadow-clr: #f8f8f8;
  --left-distnc: 25px;
  --toggleBtn-bg-clr: #07cf03;
  --toggleBtn-clr: rgb(253, 253, 253);
}
.light-theme {
  --main-heading: #092e45;
  --para-clr: #3a0230;
  --btn-bg-color: #05b583;
  --btn-text-clr: #fff;
  --bg-clr: rgb(223, 230, 247);
  --boxShadow-clr: #f694fe;
  --left-distnc: 5px;
  --toggleBtn-bg-clr: #ededed;
  --toggleBtn-clr: rgb(192, 192, 192);
}

body {
  width: 100vw;
  background-color: var(--bg-clr);
  position: relative;
}

#root {
  width: 100%;
}

.header {
  box-shadow: 0 0 10px var(--boxShadow-clr);
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px auto;
  padding: 0 20px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left-section img {
  width: 120px;
  height: 90%;
  border-radius: 10px;
}
.header .middle-section {
  display: flex;
  justify-content: space-around;
  color: var(--para-clr);
  font-size: 1.25rem;
  font-size: 600;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
}
.header .middle-section li {
  list-style: none;
}
.header .right-section img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.btnContainer {
  padding: 10px;
  border-radius: 5px;
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 110px;
}


.btnContainer .darkMode {
  padding: 5px 10px;
  width: max-content;
  color: var(--para-clr);
}
.btnContainer .toggleBtn {
  border: 1px solid #a8a8a8;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--toggleBtn-bg-clr);
  width: 55px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.btnContainer .toggleBtn .toggler {
  background-color: var(--toggleBtn-clr);
  border-radius: 15px;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: var(--left-distnc);
  font-size: small;
  text-align: center;
  padding: 2px 0 0;
  transition: left 0.25s ease-in-out;
}
.btnContainer .toggleBtn:hover {
  box-shadow: 0 0 10px 1px goldenrod, 0 0 10px 1px #ede3c9;
}


.body {
  box-shadow: 0 0 10px var(--boxShadow-clr);
  width: 95%;
  height: 500px;
  margin: 80px auto 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 10px;
}
.body .content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  row-gap: 20px;
  width: 50%;
}
.body .content h2 {
  color: var(--main-heading);
  font-size: 2.1rem;
}
.body .content p {
  color: var(--para-clr);
}
.body .content button {
  width: 150px;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-clr);
  cursor: pointer;
  transition: all 0.3sec;
}
body .content button:hover {
  box-shadow: 0 0 10px ghostwhite;
}

.body .dp img {
  width: 200px;
  height: 270px;
  border-radius: 10px;
}
